@model da.Models.KHUVUC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHUVUC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tên_khu_vực)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tên_khu_vực)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mã_khu_vực }) |
    @Html.ActionLink("Back to List", "Index")
</p>
