@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Đặc sản Việt Nam</h1>
    <p class="lead">Việt Nam là một đất nước nhỏ vùng Đông Nam Á, nổi tiếng với nhiều ngành nghề truyền thống và danh lắm thắng cảnh đẹp được nhiều du khách yêu thích: Sapa, Đà Nẵng, đảo Phú Quốc, vịnh Hạ Long… Và đặc sản Việt Nam là một trong những nguyên nhân chính thu hút khách du lịch hàng năm khi đến Việt Nam. Trong đó có rất nhiều đặc sản Việt Nam đã từng lên báo nước ngoài.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="~/image/hinh-1-pho.jpg" height="180" width="350" /></h2>
        <p>
            Phở là một trong những món ngon Việt Nam lâu đời nhất tại Hà Nội. Phở Việt Nam, đặc biệt  là Phở Hà Nội đã từng lọt vào danh sách 50 món ngon thế giới do CNN bình chọn vào tháng 3/2018. Với bàn tay khéo léo của những người chế biến lâu năm, các nguyên liệu tưởng chừng dân dã và quen thuộc như bún gạo, nước dùng, thịt bò hay thịt gà, các loại rau gia vị,... được hòa quyện với nhau tạo nên một hương vị hài hòa và vẹn tròn.
        </p>
        <p><a class="btn btn-default" href="https://pasgo.vn/blog/canh-nau-pho-ha-noi-xua-chuan-huong-vi-ha-thanh-80-nam-ve-truoc-4116">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/image/hinh-2-banh-da-cua.jpg" height="180" width="350"/></h2>
        <p>Bánh đa cua là một món ăn có nguồn gốc từ thành phố hoa phượng đỏ - Hải Phòng. Có rất nhiều nơi cũng có Bánh đa cua Hải Phòng nhưng không nơi đâu sánh được với quê hương của nó.

Một bát bánh đa cua Hải Phòng vừa hài hòa về màu sắc, hương vị lẫn nguyên liệu. Màu nâu sậm của bánh đa, màu gạch của cua âu hồng, màu xanh của rau muống, lá lốt, màu đỏ của ớt tươi, vàng đượm của hành khô phi vàng,... tất cả tạo nên một món ngon Việt Nam vô cùng hoàn hảo.</p>
        <p><a class="btn btn-default" href="https://www.huongnghiepaau.com/banh-da-cua-hai-phong">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/image/hinh-5-mon-mi-quang.jpg" height="180" width="350"/></h2>
        <p>Khi ghé thăm vùng đất Quảng Nam, bạn sẽ có cơ hội thưởng thức món mì Quảng đặc sản Quảng Nam thơm ngon. Nhiều người nhận xét rằng mì Quảng giống với món phở, bún thông thường. Thế nhưng món ăn này vẫn mang trong mình nét độc đáo khác biệt. Gạo ngon được ngâm với nước sau đó đem đi xay mịn và tráng thành các lớp bánh mỏng. Khi các lớp mì chín sẽ được vớt ra rồi đặt lên mâm và dùng hành lá được nhúng qua lớp dầu và thoa lên mì. Xắt mì thành sợi mỏng rồi trộn cùng các nguyên liệu khác để sợi mì dai và giòn hơn khi thưởng thức.</p>
        <p><a class="btn btn-default" href="https://giadinhvietnam.com/cach-nau-mi-quang-tom-thit-tai-nha-thom-ngon-don-gian-nhat-d48514.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/image/hinh-6-banh-khot-vung-tau.jpg" height="180" width="350"/></h2>
        <p>Vũng Tàu, người ta sẽ nghĩ ngay đến những món ăn ngon được chế biến từ hải sản tươi sống. Thế nhưng một món ăn khá độc đáo được nhiều du khách lựa chọn thưởng thức đó chính là món bánh khọt. Đây là món ngon Việt Nam nhất định bạn nên thử một lần.</p>
        <p><a class="btn btn-default" href="https://www.cooky.vn/blog/banh-khot-dac-san-vung-tau-842">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/image/hinh-7-goi-cuon-sai-gon.jpg" height="180" width="350"/></h2>
        <p>Món gỏi cuốn đơn giản với phong phú các nguyên liệu đi kèm khiến người ăn cứ muốn thưởng thức hoài không chán. Gỏi cuốn gồm có bánh tráng, bánh mướt, tôm luộc bóc vỏ, thịt ba chỉ, các loại rau thơm, xà lách, dưa chuột,... cuốn lại với nhau rồi ăn với nước chấm.</p>
        <p><a class="btn btn-default" href="https://vietnamnet.vn/vn/doi-song/am-thuc/cach-lam-goi-cuon-tom-thit-thom-ngon-chuan-vi-426129.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/image/hinh-8-com-tam-sai-gon.jpg" height="180" width="350"/></h2>
        <p>Cơm tấm Sài Gòn từ xưa là món ăn dân dã quen thuộc của người dân Sài Thành. Thế nhưng ngày nay, cơm tấm lại trở thành món đặc sản mà mỗi khi ghé đến vùng đất này du khách không thể bỏ qua.</p>
        <p><a class="btn btn-default" href="https://pasgo.vn/blog/cach-lam-com-tam-sai-gon-ngon-dung-dieu-don-gian-3841">Learn more &raquo;</a></p>
    </div>
</div>